html{
  font-family: 'Biryani', sans-serif!important;
}
body{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Lato', sans-serif!important;
}
.special-font{
  font-family: 'Playball', cursive!important;
}
.skills-list li{
  line-height: 1.8;
  font-family: 'Biryani', sans-serif!important;
  font-size: 1rem;
}
.responsive-mobile{
  display: none;
}
span > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

span > a:hover {
  color: #000;
}
span > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
span > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
.content-container-link {
  font-size: 1.2rem!important;
  font-family: 'Biryani', sans-serif!important;
}
.collapse-menu-responsive{
  align-items: center!important;
}
  /* // Extra small devices (portrait phones, less than 576px)
  // No media query for `xs` since this is the default in Bootstrap */

  /* // Small devices (landscape phones, 576px and up) */
  @media screen and (max-width: 540px) { 
    .responsive-mobile{
      display: inline;
    }
    .hidden-mobile{
      display: none;
    }
    .content-container > p {
      font-size: .7rem;
    }
    .content-container-link {
      font-size: .8rem!important;
    }
    .collapse-menu-responsive{
      align-items: flex-end!important;
    }
  }

  /* // Medium devices (tablets, 768px and up) */
  @media screen and (min-width: 768px) { 
    
  }

  /* // Large devices (desktops, 992px and up) */
  @media screen and (min-width: 992px) { 
    
  }

  /* // Extra large devices (large desktops, 1200px and up) */
  @media screen and (min-width: 1200px) { 

  }